<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="NUnitExtensions" type="RJCP.CodeQuality.AppConfig.NUnitExtensionsSection, RJCP.CodeQuality"/>
  </configSections>

  <NUnitExtensions>
    <deploy workDir="work" force="false"/>
  </NUnitExtensions>

  <system.diagnostics>
    <sharedListeners>
      <add name="nunitListener" type="RJCP.CodeQuality.NUnitExtensions.Trace.NUnitTraceListener, RJCP.CodeQuality"/>
    </sharedListeners>

    <sources>
      <source name="RJCP.NUnitTraceListenerTest" switchValue="Verbose">
        <listeners>
          <remove name="Default"/>
          <add name="nunitListener"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>